/*all p tags*/
p {
    font-family: 'Roboto Mono', monospace, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
}

/* Header*/
.Header {
    background-color: ;
    color: white;
    padding: 10px; 
    text-align: Right;
}
#myHeader {
    background-color: aliceblue;
    color:green;
    padding: 20px;
    text-align: center;
}

/* Body*/


/* Nav Bar*/
.navbar navbar-inverse {
    color: grey;
    font-family: 'Roboto Mono', monospace;
}

/* Header 2*/
.Header {
    color:gray;
    font-family: monospace;
    width: 
}

.p {}

